:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
    --logo-color: #000000;
    --light-text-color: #FFFFFF;
    --transparent-text-color: rgba(255, 255, 255, 0.6);
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #F5F4FA;
    --dark-bg-color: #2F303A;
    --icon-color: #AFB1B8;
    --main-duration: 250ms;
    --main-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-text-color)
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.social-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}




/* ----------------------------------------HEADER------------------------------- */

.header {
    border-bottom: 1px solid #ECECEC;

}

.header-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* logo */
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo-part {
    color: var(--logo-color);
}




/* navigation menu */
.navigation {
    display: flex;
    align-items: center;
}

.menu-nav-list {
    display:flex;
    align-items: center;
    margin-left: 93px;
}

.menu-nav-item {
    color: var(--secondary-text-color);
}

.menu-nav-item:not(:first-child) {
    margin-left: 50px;
}

.menu-nav-link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
    transition: color var(--main-duration) var(--main-timing-function);
}

.menu-nav-link::after {
    position: absolute;
    bottom: 0;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    transform: scaleX(0);
    transition: transform var(--main-duration) var(--main-timing-function);
}

.menu-nav-link:hover,
.menu-nav-link:focus {
    color: var(--accent-color);
}

.menu-nav-link:hover::after {
    
    transform: scaleX(1);
}

.current-page {
    position: relative;
    color: var(--accent-color);
}

.current-page::after {
    position: absolute;
    bottom: 0;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}

/* header contacts */
.header-contacts-list {
    display: flex;
    align-items: center;
}

.header-contacts-item:not(:first-child) {
    margin-left: 30px;
}

.header-contacts-link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color var(--main-duration) var(--main-timing-function);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: var(--accent-color);
}

.header-envelope-icon {
    margin-right: 10px;
    fill: currentColor;
}

.header-smartphone-icon {
    margin-right: 10px;
    fill: currentColor;
}

/* ----------------------------------------------HERO SECTION------------------------- */
.hero-section {
    max-width: 1600px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;

    text-align: center;
    background-color: #C4C4C4;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/image08.jpg);
    background-size: cover;
    background-position: center;
}

.hero-title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-text-color);
}

.hero-btn {
    width: 216px;
    height: 50px;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--light-text-color);
    
    cursor: pointer;
}


/* --------------------------------------------FEATURES SECTION------------------- */

.features-list {
    display: flex;
}

.features-item {
    max-width: 270px;
}

.features-item:not(:last-child) {
    margin-right: 30px;
}

.features-subtitle {
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: inherit;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

.features-text {
    
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.features-icon {
    display: flex;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-bg-color);
    border-radius: 4px;
}

/* --------------------------------------------OUR WORK SECTION--------------------------- */

.section-work {
    padding-bottom: 94px;
}

.work-list {
    display: flex;
    margin-top: 50px;    
}

.work-item {
    position: relative;
}

.work-item:not(:last-child) {
    margin-right: 30px;
}

.work-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}

.work-subtitle {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: var(--light-text-color);
    background-color: rgba(47, 48, 58, 0.8);

}

/* --------------------------------------------OUR TEAM SECTION-------------------------- */

.team-section {
    background-color: var(--secondary-bg-color);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.team-list {
    display: flex;
    margin-top: 50px;
}

.team-item {
    padding-bottom: 30px;
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
    margin-right: 30px;
}

.team-subtitle {
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--secondary-text-color);
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-text-color);
}

.team-social-list {
    display: flex;
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 32px;
}

.team-social-item:not(:last-child) {
    margin-right: 10px;
}

.team-social {
    color: var(--icon-color);
    background-color: transparent;
    transition: color var(--main-duration) var(--main-timing-function), background-color var(--main-duration) var(--main-timing-function);
}

.team-social:hover {
    color: var(--light-text-color);
    background-color: var(--accent-color);
}

.team-social-icon {
    fill: currentColor;
}

/* --------------------------------------------- CLIENTS SECTION------------------------------------------------------------------------------ */

.clients-list {
    display: flex;
    margin-top: 50px;
}

.clients-item:not(:last-child) {
    margin-right: 30px;
}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    /* padding: 16px 32px; */

    color: var(--icon-color);
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    transition: border var(--main-duration) var(--main-timing-function), color var(--main-duration) var(--main-timing-function);
}

.clients-link:hover,
.clients-link:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

.clients-svg {
    object-fit: cover;
    fill: currentColor;
}



/* --------------------------------------------FOOTER----------------------------- */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--dark-bg-color);
}

.footer-columns {
    display: flex;
}


/* -------FOOTER FIRST COLUMN------------------------ */
.footer-first-column {
    width: 231px;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.footer-logo-part {
    color: var(--light-text-color);
}

.footer-contacts-list {
    margin-top: 20px;
}

.footer-contacts-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-contacts-link {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--transparent-text-color);
    transition: color var(--main-duration) var(--main-timing-function);
}
.footer-contacts-link:hover,
.footer-contacts-link:focus {
    color: var(--light-text-color);
}

/* ------------FOOTER SECOND COLUMN------------------------ */

.footer-second-column {
    margin-left: 70px;
    padding-top: 12px;
}

.footer-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-text-color);
}

.footer-social-list {
    display: flex;
    margin-top: 20px;
}

.footer-social-item:not(:last-child) {
    margin-right: 10px;
}

.footer-social {
    color: var(--light-text-color);
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--main-duration) var(--main-timing-function);
}

.footer-social:hover {
    background-color: var(--accent-color);
}

.footer-social-icon {
    fill: currentColor;
}




/* ---------------------------------------------------MODAL WINDOW-------------------------------- */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--main-duration) var(--main-timing-function);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
    border-radius: 4px;
    background-color: var(--light-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity var(--main-duration) var(--main-timing-function), transform var(--main-duration) var(--main-timing-function), scale var(--main-duration) var(--main-timing-function);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) rotate(-180deg) scale(2);
    opacity: 0;
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: inline-flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    fill: var(--logo-color);
    background-color: var(--light-text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-button:hover,
.close-button:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}






/* --------------------------------------------- PORTFOLIO------------------------------------- */

.portfolio-section {
    padding-top: 69px;
    padding-bottom: 119px;
}

.portfolio-filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-filter-item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-filter-btn {
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62; 
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    color: var(--secondary-text-color);
    background-color: var(--secondary-bg-color);
    border-width: 0;
    cursor: pointer;
    transition: color var(--main-duration) var(--main-timing-function), background-color var(--main-duration) var(--main-timing-function), box-shadow var(--main-duration) var(--main-timing-function);
    }
.portfolio-filter-btn:hover,
.portfolio-filter-btn:focus {
    color: var(--light-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-filter-btn.first-filter-btn {
    padding-left: 25px;
    padding-right: 25px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.portfolio-item {
    margin-left: 30px;
    margin-top: 30px;

    background-color: var(--primary-bg-color);
}

.portfolio-link {
    display: block;
    transition: box-shadow var(--main-duration) var(--main-timing-function);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:hover .portfolio-overlay {
    transform: translateY(0);
}

.portfolio-thumb {
    position: relative;
    max-width: 370px;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform var(--main-duration) var(--main-timing-function);



    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--light-text-color);
    background-color: rgba(33, 150, 243, 0.9);
}

.item-description {
    padding: 20px 24px;
    background-color: var(--primary-bg-color);
    border: 1px solid #EEEEEE;
    border-top: none;
}

.portfolio-subtitle {
    margin-bottom: 4px;
      
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}